<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <clear />
            <add key="azure" value="https://pkgs.dev.azure.com/yoavklein25/PipelinesExamples/_packaging/py/nuget/v3/index.json" />
  </packageSources>
  
  <packageSourceCredentials>
    <azure>
        <add key="Username" value="ayoavklein25" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAmCt6xaD78kC8bMX2uSp8XgAAAAACAAAAAAAQZgAAAAEAACAAAABh46IHp+5vGmM1GjALIaWEK3KIeVkVZyZ8p5HiwWBl1wAAAAAOgAAAAAIAACAAAACeKmMJ++G3tpyLOk4c6KFr8p63oRe/1szEg5AdrE+b+EAAAAD1dopGv+BlKWMCWjDB8OjXSqV4lsVJImzuEQdixsJNtuTt0weMbHGUBXj9I+BCXVXF9bW7JhXfEdKtZaKnD3xJQAAAALgK4jNubs8pRCdo4nNCg/Xmxf0i+nf0wDmOgjqHXHMvyNxGd6ykn1JUrGCrBQ29LNGL3yvCaJkDY5qY1Ba1yIM=" />
      </azure>
  </packageSourceCredentials>
</configuration>